.preview-item {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fcfcfc;
    margin-left: 5px;
    margin-top: 10px;
    color: #202121;


    h2 {
        &:hover {
            cursor: pointer;
        }
    }


    .preview-card-header {
        height: 300px;
        width: 100%;

        background-size: cover;
        background-position: center;
        margin-bottom: 5px;

    }


    .preview-card-body {
        width: 100%;

        .preview-date {
            font-size: 11px;
            font-weight: 600;
            color: grey;
        }


    }

    .preview-card-footer {
        border: 1px solid #E6EAEA;

        display: flex;
        justify-content: space-between;
        font-size: 12px;
        font-weight: 400;
        width: 100%;
        margin-bottom: 15px;


        .author {
            width: 80%;

        }

        .votes {
            width: 20%
        }
    }

    .preview-title-link {
        color: #202121;
        text-decoration: none;
    }



}