.preview-item {

    border-radius: 4px;
    padding: .2rem;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fcfcfc;

    .topic-date {
        display: flex;
        justify-content: space-between;
    }


    .preview-card-header {
        height: 200px;
        width: 100%;

        background-size: cover;
        background-position: center;
        margin-bottom: 5px;

    }


    .preview-card-body {
        font-size: .75rem;
        display: flex;
        flex-direction: column;
        flex: 1;


        .preview-date {
            font-size: 11px;
            font-weight: 600;
            color: grey;

        }

        h2 {
            font-size: 1rem;

            &:hover {
                cursor: pointer;
            }
        }


    }

    .preview-card-footer {
        border-top: 1px solid #E6EAEA;
        padding-top: 5px;
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        font-weight: 400;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;




        .author {
            width: 80%;

        }

        .icon {
            padding-right: 2px;
        }

        .number {
            margin-right: 7px;
        }
    }

}