.content-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 1rem;


}

.topic-title {
    margin: 5px;
    font-size: 1.2rem;
    font-weight: 600;
}

.topic-description {
    margin-left: 5px;
}