.header {
    border: 2px solid #E6EAEA;
    padding: 12px;

    .nav-btn {
     padding: 10px;
     color: #000000;
     text-decoration: none;

     color: #000000;

 }

 .nav-btn:hover {
     color: grey;
 }


    .logged-in {
    float: right;
}


}