.header {
    border: 2px solid #E6EAEA;
    padding: 12px;

    .nav-bar {

        width: 100%;
        display: flex;
        justify-content: space-between;

    }

    .option {
        margin: 5px;
    }

}